<div>
    <label for ="title">Title: </label>
    <input id="title" type="text" name="note[title]">
  </div>
  <div>
    <label for ="content">content: </label>
    <textarea id="content" type="text" name="note[content]"></textarea>
  </div>
  <div>
    <input type="submit">
</div>
