
<label for ="email">Email:</label>
<input id="email" type="email" name="user[email]">



<label for ="password">Password:</label>
<input id="password" type="password" name="user[password]">



<input type="submit">
